<!DOCTYPE html>
<html>
<head>
    <title>Authors</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>


</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href = "{{url_for('index')}}">Home</a></li>
    <li><a href = "{{url_for('books')}}">Books</a></li>
    <li class="active"><a href = "{{url_for('authors')}}">Authors</a></li>
    <li><a href = "{{url_for('publishers')}}">Publishers</a></li>
    <li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="{{url_for('search')}}" method='post'>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>
	<body>
<body>

<div class="container text-center">

<table data-toggle="table"
       data-classes="table table-hover table-condensed"
       data-striped="true"
       data-sort-name="Name"
       data-sort-order="desc"
       data-pagination="true"
       >
    <thead>
    <tr>
        <th data-field="Name" data-sortable="true">Name</th>
        <th data-field="Birthday" data-sortable="true">Birthday</th>
        <th data-field="Nationality"data-sortable="true">Nationality</th>
        <th data-field="Alma Mater" data-sortable="true">Alma Mater</th>
        <th data-field="Image">Image</th>
        <th data-field="Description" data-sortable="true">Description</th>
    </tr>
    </thead>
    <tbody>
   <tr id="tr-id-2" class="tr-class-2">
     {% if books == [] %}
       <p>No books exist</p>
     {% else %}
       {% set all_auth = [] %}
       {% for i in books %}
         {% if i.author_name not in all_auth %}
           {% if all_auth.append(i.author_name) %} {% endif %}
           <td><div class = "author_name"><a href = "/author/{{i.author_name}}">{{i.author_name}}</a></div></td>
           <td><div class = "birthday">{{i.birthday}}</div></td>
           <td><div class = "nationality">{{i.nationality}}</div></td>
           <td><div class = "alma_mater">{{i.alma_mater}}</div></td>
           <td><div class = "image"><img src = "{{i.image}}"></div></td>
           <td><div class = "auth_description">{{i.auth_description}}</div></td>
    </tr>
          {% endif %}
        {% endfor %}
      {% endif %}
    </tbody>
</table>
</div>

<script>
function queryParams() {
    return {
        type: 'owner',
        sort: 'updated',
        direction: 'desc',
        per_page: 10,
        page: 1
    };
}
</script>

</body>
</html>
