<!DOCTYPE html>
<html lang="en">
<head>
  <title>Douglas Adams</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
    	<li class="active"><a href = "{{url_for('index')}}">Home</a></li>
		<li><a href = "{{url_for('books')}}">Books</a></li>
		<li><a href = "{{url_for('authors')}}">Authors</a></li>
		<li><a href = "{{url_for('publishers')}}">Publishers</a></li>
		<li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
  </div>
</nav>
	<body>
    <h2>Douglas Adams</h2>
		<p>Date of Birth: 1952-03-11</p>
		<p>Nationality: N/A</p>
		<p>Alma Mater: St John's College, Cambridge</p>
		<p>Description: Douglas Noel Adams was an English author, scriptwriter, essayist, humorist, satirist and dramatist.Adams is best known as the author of The Hitchhiker's Guide to the Galaxy, which originated in 1978 as a BBC radio comedy before developing into a "trilogy" of five books that sold more than 15 million copies in his lifetime and generated a television series, several stage plays, comics, a computer game, and in 2005 a feature film.</p>
		<p>Picture: <img src = "http://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Douglas_adams_portrait_cropped.jpg/220px-Douglas_adams_portrait_cropped.jpg"> </p>

    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <table>
      <tr>
        <th>Books</th>
        <th>Publication Date</th>
        <th>Publisher</th>
      </tr>
      <tr>
        <td>The Hitchhiker's Guide to the Galaxy</td>
        <td>2007-12-18</td>
        <td>Del Rey Books</td>
      </tr>
      <tr>
        <td>The Restaurant at the End of the Universe</td>
        <td>2008-12-24</td>
        <td>Del Rey Books</td>
      </tr>
      <tr>
        <td>Life, the Universe and Everything</td>
        <td>2008-12-24</td>
        <td>Del Rey Books</td>
      </tr>
    </table>
  </body>
</html>
