<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{author_name}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href = "{{url_for('index')}}">Home</a></li>
    <li><a href = "{{url_for('books')}}">Books</a></li>
    <li class="active"><a href = "{{url_for('authors')}}">Authors</a></li>
    <li><a href = "{{url_for('publishers')}}">Publishers</a></li>
    <li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="{{url_for('search')}}" method='post'>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>
</nav>
	<body>
    <h2>{{author_name}}</h2>
    <p>Date of Birth: {{birthday}}</p>
    <p>Nationality: {{nationality}}</p>
    <p>Alam Mater: {{alma_mater}}</p>
    <p>Description: {{auth_description}}</p>
    <p>Picture: <img src = "{{image}}"></p>

<style>
  table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          td, th {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
          }
          tr:nth-child(even) {
            background-color: #dddddd;
          }

</style>

<table>
  <tr>
    <th>Book</th>
    <th>Publisher</th>
    <th>Date</th>
  </tr>
  <tr>
    {% if booksPubs == [] %}
      <p>No books exist</p>
    {% else %}
      {% for i in range(booksPubs|count) %}
          <td><div class = "col-1"><a href = "/title/{{booksPubs[i][0]}}">{{booksPubs[i][0]}}</a></div></td>
          <td><div class = "col-1"><a href = "/publisher/{{booksPubs[i][1]}}">{{booksPubs[i][1]}}</a></div></td>
          <td><div class = "col-1">{{booksPubs[i][2]}}</div></td>
  </tr>
      {% endfor %}
    {% endif %}
</table>
  </body>
</html>
