<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ender’s Game</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
    	<li class="active"><a href = "{{url_for('index')}}">Home</a></li>
		<li><a href = "{{url_for('books')}}">Books</a></li>
		<li><a href = "{{url_for('authors')}}">Authors</a></li>
		<li><a href = "{{url_for('publishers')}}">Publishers</a></li>
		<li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
  </div>
</nav>
	<body>
		<h2>Ender’s Game</h2>
		<p>Author: <a href = "{{url_for('author1')}}">Orson Scott Card</a></p>
		<p>Publication Date: 2006-10-31</p>
		<p>Publisher: <a href = "{{url_for('publisher2')}}">Palgrave Macmillan</a></p>
		<p>ISBN: 0765317389</p>
		<p>Description: Child hero Ender Wiggin must fight a desperate battle against a deadly alien race if mankind is to survive.</p>
	</body>
</html>