<!DOCTYPE html>
<html lang="en">
<head>
  <title>Harry Potter and the Prisoner of Azkaban</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
    	<li class="active"><a href = "{{url_for('index')}}">Home</a></li>
		<li><a href = "{{url_for('books')}}">Books</a></li>
		<li><a href = "{{url_for('authors')}}">Authors</a></li>
		<li><a href = "{{url_for('publishers')}}">Publishers</a></li>
		<li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
  </div>
</nav>
	<body>
		<h2>Harry Potter and the Prisoner of Azkaban</h2>
		<p>Author: <a href = "{{url_for('author3')}}">J. K. Rowling</a></p>
		<p>Publication Date: 1999-07-08</p>
		<p>Publisher: <a href = "{{url_for('publisher1')}}">Pottermore</a></p>
		<p>ISBN: 9781781100516</p>
		<p>Description: 'Welcome to the Knight Bus, emergency transport forthe stranded witch or wizard. Just stick out your wand hand, step on board and we can take you anywhere you want to go.' When the Knight Bus crashes through the darkness and screeches to a halt in front of him, it's the start of another far from ordinary yearat Hogwarts for Harry Potter. Sirius Black, escaped mass-murderer and follower of Lord Voldemort, is on the run - and theysay he is coming after Harry. In his first ever Divination class, Professor Trelawney sees an omen of death in Harry's tea leaves ... But perhaps most terrifying of all are the Dementors patrolling the school grounds, with their soul-sucking kiss ...</p>
	</body>
</html>