<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{publisher_name}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href = "{{url_for('index')}}">Home</a></li>
    <li><a href = "{{url_for('books')}}">Books</a></li>
    <li><a href = "{{url_for('authors')}}">Authors</a></li>
    <li class="active"><a href = "{{url_for('publishers')}}">Publishers</a></li>
    <li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="{{url_for('search')}}" method='post'>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>
	<body>
		<h2>{{publisher_name}}</h2>
		<p>Parent Company: {{parent_company}}</p>
		<p>Website: <a href = "{{website}}">{{website}}</a></p>
		<p>Wikipedia Page:<a href = "{{wiki}}">{{wiki}}</a></p>
		<p>Description: {{pub_description}}</p>
		<p>Picture: <img src = "{{pub_image}}"</p>
<style>
  table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          td, th {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
          }
          tr:nth-child(even) {
            background-color: #dddddd;
          }

</style>

<table>
  <tr>
    <th>Book</th>
    <th>Author</th>
    <th>Date</th>
  </tr>
  <tr>
    {% if booksAuths == [] %}
      <p>No books exist</p>
    {% else %}
      {% for i in range(booksAuths|count) %}
          <td><div class = "col-1"><a href = "/title/{{booksAuths[i][0]}}">{{booksAuths[i][0]}}</a></div></td>
          <td><div class = "col-1"><a href = "/author/{{booksAuths[i][1]}}">{{booksAuths[i][1]}}</a></div></td>
          <td><div class = "col-1">{{booksAuths[i][2]}}</div></td>
  </tr>
      {% endfor %}
    {% endif %}
</table>
  </body>
</html>
