<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href = "{{url_for('index')}}">Home</a></li>
    <li><a href = "{{url_for('books')}}">Books</a></li>
    <li><a href = "{{url_for('authors')}}">Authors</a></li>
    <li class="active"><a href = "{{url_for('publishers')}}">Publishers</a></li>
    <li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="{{url_for('search')}}" method='post'>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>

  <body>
  <div class="container text-center">
  <table data-toggle="table"
         data-classes="table table-hover table-condensed"
         data-striped="true"
         data-pagination="true"
         >
      <thead>
      <tr>
          <th data-field="Book">Book</th>
          <th data-field="ISBN">ISBN</th>
          <th data-field="Date">Date</th>
          <th data-field="Author">Author</th>
          <th data-field="Publisher">Publisher</th>
          <th data-field="Description">Description</th>
      </tr>
      </thead>
      <tbody>
     <tr id="tr-id-2" class="tr-class-2">
       {% if search == [] %}
         <p>No results</p>
       {% else %}
         {% for x in search %}
           {% if x != None%}
             <td><div class = "Book"><a href = "/title/{{x.title}}">{{x.title}}</a></div></td>
             <td><div class = "ISBN">{{x.isbn}}</div></td>
             <td><div class = "Date">{{x.date}}</div></td>
             <td><div class = "Author"><a href = "/author/{{x.author_name}}">{{x.author_name}}</a></div></td>
             <td><div class = "Publisher"><a href = "/publisher/{{x.publisher_name}}">{{x.publisher_name}}</a></div></td>
             <td><div class = "Description">{{x.description}}</div></td>

      </tr>
            {% endif %}
          {% endfor %}
       {% endif %}
      </tbody>
  </table>
  </div>
  <script>
  function queryParams() {
      return {
          type: 'owner',
          sort: 'updated',
          per_page: 10,
          page: 1
      };
  }
  </script>
  </body>
</html>
