<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book Hub Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
</style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href = "{{url_for('index')}}">Home</a></li>
    <li><a href = "{{url_for('books')}}">Books</a></li>
    <li><a href = "{{url_for('authors')}}">Authors</a></li>
    <li><a href = "{{url_for('publishers')}}">Publishers</a></li>
    <li><a href = "{{url_for('about')}}">About</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="{{url_for('search')}}" method='post'>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>

<div class="container">
  <h3 style = "font-family:Lucida Console; font-size: 40px; text-align: center; color: #4d5666">Welcome to Book Hub</h3>
  <h1 style = "font-family:Lucida Console; font-size: 18px; text-align: center; color: #4d5666">Your resource for all things books!</h1>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel" style = "height: 600px;">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <center>
      <img src="https://cannabisnow.com/wp-content/uploads/2018/05/Upcoming-cannabis-books-library.jpg" alt="First slide" style = "width:100%; height: 600px; ">
      </center>
    </div>


    <div class="item">
      <center>
      <img src="https://iamfearlesssoul.com/wp-content/uploads/2018/08/7-life-changing-books-web.jpg" alt="Second slide" style = "width:100%; height: 600px">
      </center>
    </div>

    <div class="item">
      <center>
      <img src="https://cmzone-vzbqbxhynotw9ion96xv.netdna-ssl.com/wp-content/uploads/2016/09/50-books-every-guy-should-read-cm.jpg" alt="Third slide" style = "width:100%; height: 600px">
      </center>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</body>
</html>