<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tests</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Book Hub</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href = "{{url_for('index')}}">Home</a></li>
    <li><a href = "{{url_for('books')}}">Books</a></li>
    <li><a href = "{{url_for('authors')}}">Authors</a></li>
    <li><a href = "{{url_for('publishers')}}">Publishers</a></li>
    <li class="active"><a href = "{{url_for('about')}}">About</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="{{url_for('search')}}" method='post'>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>
<center>
<img src="https://storage.googleapis.com/cs329e-idb/images/Screenshot%20(40).png" class="img-responsive" style="width:70%" alt="Hannah's Pic">
</center>
</body>
</html>
